:root{
    --background1: #8838FF;
    --background2: #D18DFF;

    /* --family: ; Por enquanto a decidir qual font-family colocar */
}

body{
    background-image: linear-gradient(to bottom, var(--background1), var(--background2));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
}

#great{
    color: #ffff00;
    font-size: 4.5em;
}

#paragraph{
    color: white;
}

.abbreviation:hover{
    cursor: pointer;
    color: yellow;
}
